.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 182px;
}
img{
  width: 150px;
}
form{
  /* height: 200px; */
  position: relative;
  border: 1px solid;
  width: 60%;
  padding: 30px;
  align-self: center;
  align-items: center;
  /* padding-bottom: 100px; */
  /* border: 1px inset gray; */
  /* /* margin-left: 20px; */
}