.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 182px;
}
img{
  width: 150px;
}
form{
  position: relative;
  border: 1px solid;
  width: 60%;
  padding: 30px;
  align-self: center;
  align-items: center;
}
.IconWrapper {
  display: flex;
  justify-content: center;
  margin-top: 48px;
} 
.icon {
  width: 30px;
}